<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LoginWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="LoginWebServiceSoap1" />
                <binding name="AdminWebServicesSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="AdminWebServicesSoap1" />
                <binding name="RegistrationWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="RegistrationWebServiceSoap1" />
                <binding name="UserWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="UserWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44320/LoginWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="LoginWebServiceSoap"
                contract="LoginServiceReference.LoginWebServiceSoap" name="LoginWebServiceSoap" />
            <endpoint address="https://localhost:44320/AdminWebServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="AdminWebServicesSoap"
                contract="AdminServiceReference.AdminWebServicesSoap" name="AdminWebServicesSoap" />
            <endpoint address="https://localhost:44320/RegistrationWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="RegistrationWebServiceSoap"
                contract="RegistrationWebServiceReference.RegistrationWebServiceSoap"
                name="RegistrationWebServiceSoap" />
            <endpoint address="https://localhost:44320/UserWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="UserWebServiceSoap"
                contract="UserWebServiceReference.UserWebServiceSoap" name="UserWebServiceSoap" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>