<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceHelloSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceHelloSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44320/WebServiceHello.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceHelloSoap"
                contract="HelloService.WebServiceHelloSoap" name="WebServiceHelloSoap" />
        </client>
    </system.serviceModel>
</configuration>